body {
  padding: 20px;
}

.entireHome {
  width: 300px;
  margin: 0 auto;
}

button,
select {
  font-size: 15px;
  border-radius: 5px;
  margin-top: 10px;
}

select:focus,
button:focus {
  outline: none;
}

.animalItself {
  margin-bottom: 15px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}

select {
  margin-left: 5px;
}
