.entirePet {
  width: 250px;
  margin: 0 auto;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(250, 247, 237);
}

.name {
  text-transform: uppercase;
}

.details {
  text-transform: uppercase;
  font-weight: bold;
}
